appsettings.json
/.vs/ApiMercadoComunidad/CopilotIndices
/.vs/ApiMercadoComunidad/FileContentIndex
/.vs/ApiMercadoComunidad/FileContentIndex
/.vs/ApiMercadoComunidad/CopilotIndices
/.vs/ApiMercadoComunidad/FileContentIndex
/.vs/ApiMercadoComunidad/CopilotIndices
/obj/Debug
/.vs
appsettings.json
/bin/Debug
